<nav class="navbar">
    <div class="nav-left"><img class="logo" src="/images/logo.png" alt="">
        <ul class="navlogo">
            <li><img src="/images/notification.png"></li>
            <li>
                <a href="/messages" >
                    <img src="/images/inbox.png">
                </a>
            </li>
            <li><img src="/images/video.png"></li>
        </ul>
    </div>
    <div class="nav-right">
        <div class="search-box">
            <img src="/images/search.png" alt="">
            <input type="text" placeholder="Search">
        </div>
        <div class="profile-image online" onclick="UserSettingToggle()">
            <img src="<%= currentUser.avatar  %>" alt="">
        </div>
    </div>
    <div class="user-settings">
        <div class="profile-darkButton">
            <div class="user-profile">
                 <img src="<%= currentUser.avatar  %>" alt="">
                <div>
                    <p class="user-profile__name">
                        <%=currentUser.first_name %>
                            <%= currentUser.last_name%>
                    </p>

                </div>
            </div>
            <div id="dark-button" onclick="darkModeON()">
                <span></span>
            </div>
        </div>
        <hr>
        <div class="user-profile">
            <img src="/images/feedback.png" alt="">
            <div>
                <p> Give Feedback</p>
                <a href="#">Help us to improve</a>
            </div>
        </div>
        <hr>
        <div class="settings-links">
            <img src="/images/setting.png" alt="" class="settings-icon">
            <a href="#">Settings & Privary <img src="/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="/images/help.png" alt="" class="settings-icon">
            <a href="#">Help & Support <img src="/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links">
            <img src="/images/Display.png" alt="" class="settings-icon">
            <a href="#">Display & Accessibility <img src="/images/arrow.png" alt=""></a>
        </div>

        <div class="settings-links btn-logout" id="settings-links__logout">
            <img src="/images/logout.png" alt="" class="settings-icon">
            <a class="btn-logout">Logout <img src="/images/arrow.png" alt=""></a>
        </div>
    </div>
</nav>