<!DOCTYPE html>
<html lang="en">
    <% include ../_include/_auth/_head %>

<body>
    <div class="loadingio-spinner-eclipse-t23932lgbh loading d-none">
        <div class="spinner">
            <div></div>
        </div>
    </div>
    <div class="container-scroller">
        <%- body %>
    </div>
    <% include ../_include/_auth/_script %>
</body>

</html>