<!DOCTYPE html>
<html lang="en">
<% include ../_include/_user/_head %>
<% include ../_include/_user/_script %>

    <body>
        <% include ../_include/_user/_navbar %>
            <!-- content-area------------ -->
            <%- body %>

            <% include ../_include/_user/_footer %>

    </body>

</html>